*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
   
}

.content{
    margin: auto;
    padding: 1rem;
    width: 100vw;
    height: 100vw;
    background-color:white;
}

.content h1{
    margin: 0;
    font-size: 4rem;
    text-align: center;
    color: crimson;
    background-color:white;
    padding: 1rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.buttons button{
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: crimson;
    color: white;
    font-size: 2rem;
}

/* Responsividade */
@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        margin: auto;
        border-radius: 2rem;
    }
  }